<div class="main">

  <ng-container *ngIf="(sContainer | async)?.ui ==='books'">
    <div class="left">

      <div class="lang_zh left-title">書本</div>
      <div class="ripple lang_cyr left-title-add" (click)="showAddForm()">Добавить</div>

      <ol *ngFor="let buk of (sContainer | async)?.books['books']">
        <li class="lang_zh book-title">{{buk['yb_title']}}</li>
      </ol>

    </div>
    <div class="content">
      <div class="show-form" *ngIf="showForm===true">
        <input [(ngModel)]="newTitle" name="newTitle" />
        <button (click)="addNewTitle()">✔</button>
        <button (click)="cancelNewTitle()">✖</button>
      </div>
    </div>
  </ng-container>

</div>
