body {
  font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
  max-width: 88vw;
  margin: 0 auto;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --back-color: rgba(	255, 255, 255, .25);
  --mova-color: rgb(105, 189, 69);
  --cj26-color: rgb(237, 32, 36);
  --lexe-color: rgb(57, 83, 164); /*#3953A4*/
}
:active, :focus {text-decoration: none; outline: 0; border: 0; }

a {text-decoration: none;}
a, ul { background-color: var(--back-color); }
ul { list-style-type: none; }
a:hover { cursor: pointer; }

.lang_cyr, .lang_en, .lang_zh { font-weight: 100; }
.lang_cyr, .lang_en{font-family: 'El Messiri', sans-serif;}
.lang_zh{font-family: 'Noto Serif TC', serif;}

/*other pages start*/
.page-content {
  height: 100vh;
  display: grid;
  grid-gap: 9px;
  font-size: 110%;
  grid-template-rows: 55px 1fr 35px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'area'
    'footer';
}

.lexe-how-to-btn {
  box-sizing: border-box;
  background-color: rgba(105, 189, 69, .22);
  color: var(--mova-color);
  font-size: .891rem;
  border-radius: 9px;
  box-shadow: unset;
}

.header {
  grid-area: header;
  min-height: 45px;
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(105, 189, 69, .69);
}
.area {
  grid-area: area;
  min-width: 80vw;
  padding: 22px;
  display: flex;
  flex-flow: column;
  align-content: center;
}
.footer {
  grid-area: footer;
  height: 25px;
  min-width: 50vw;
  text-align: center;
  color: rgba(105, 189, 69, .69);
  font-size: 44%;
}

.header>a>img {
  padding-top: .22em;
  width: 2.45rem;
  height: auto;
}
/*other pages end*/

.lexe-title {
  color: var(--mova-color);
  -webkit-text-stroke: 1px var(--mova-color);
  -webkit-text-fill-color: white;
  font-size: 1.485rem;
  font-weight: 300;
  opacity: .69;
}

button {
  border: 0;
  cursor: pointer;
  font-weight: 100;
}
button:hover {
  font-weight: 700;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
/*.ripple:hover {*/
/*  background: #69bd45 radial-gradient(circle, transparent 1%, snow 2%) center/15000%;*/
/*}*/
.ripple:active {
  background-color: #3f7329;
  background-size: 100%;
  transition: background 1s;
}
/* Ripple effect */

/*books*/

.book-title {
  flex: 1;
  color: rgba(0, 0, 0, .48);
  font-size: .69em;
  font-weight: 400;
}
.left-title {
  flex: 1;
  font-size: .69em;
  color: var(--mova-color);
  border-bottom: 1px solid rgba(105, 189, 69, .69);
  cursor: pointer;
}
.left-title-add {
  flex: 1;
  margin: .48em;
  border: 3px double rgba(105, 189, 69, .69);
  border-radius: .22em;
  font-size: .48em;
  text-align: center;
  color: var(--mova-color);
  font-weight: 300;
  cursor: pointer;
}
.left-title-add:hover {
  margin: .48em;
  border: 3px double rgba(105, 189, 69, .69);
  border-radius: .22em;
  font-size: .48em;
  text-align: center;
  color: snow;
  background-color: var(--mova-color);
  font-weight: 500;
}
.show-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-height: 1.88em;
}
input {
  padding: .11em;
  border: 1px solid var(--mova-color);
  border-radius: .22em;
  /*line-height: 1.048em;*/
  font-size: .88em;
}
button {
  margin: 0 .22em;
  padding: .48em .88em;
  min-height: 1.88em;
  min-width: 2.08em;
  font-size: .48em;
  border: 2px solid var(--mova-color);
  border-radius: .22em;
}
.pop-up-submenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-weight: bolder;
  font-size: 1.048em;
}
.submenu-item {
  flex: 1;
  margin: 0 .048em;
  max-width: 1.44em;
  border: 2px solid lightgray;
  border-radius: .11em;
  cursor: pointer;
  text-align: center;
}
.submenu-item-edit {
  color: green;
}
.submenu-item-edit:hover {
  border: 2px solid lightgreen;
}
.submenu-item-add {
  color: darkblue;
}
.submenu-item-add:hover {
  border: 2px solid lightblue;
}
.submenu-item-close {
  color: red;
}
.submenu-item-close:hover {
  border: 2px solid coral;
}
.title-only {
  cursor: pointer;
}
.title-only:hover {
  font-weight: 700;
  color: darkgreen;
}

/*books*/

/* chapters */
.main {
  display: flex;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
}
.content {
  padding-left: .88em;
  flex: 1;
  display: flex;
  flex-basis: 82%;
}

/* chapters */
